<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movies.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>


        <service android:name=".Widget.WidgetService" />
        <service android:name=".Widget.MoviesListViews"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <provider
            android:authorities="com.example.movies.popularmovies.Widget.WidgetDB"
            android:name=".Widget.WidgetDB.DataProvider"
            android:exported="true"
            tools:ignore = "AllowBackup,GoogleAppIndexingWarning"/>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8590994794759974~9400426262" />


        <activity
            android:name=".UI.MovieDetails"
            android:label="@string/title_activity_movie__details"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.Settings"
            android:label="@string/settings"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>





    </application>

</manifest>